body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    color: #007bff;
    text-decoration: none;
  }
  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  /* Header */
  header {
    background-color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  header h1 {
    font-size: 2.5rem;
  }
  header nav ul {
    display: flex;
    justify-content: flex-end;
  }
  header nav ul li {
    margin-left: 2rem;
  }
  
  /* Main Content */
  main {
    margin-top: 7rem;
    padding: 2rem;
  }
  section {
    margin-bottom: 3rem;
  }
  section h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  section h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  section p {
    margin-bottom: 1rem;
  }
  
  section {
    scroll-margin-top: 5rem;
  }
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
  }
  footer p {
    display: inline;
    margin-right: 10px;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    header nav {
      flex-direction: column;
    }
    header nav ul li {
      margin-left: 0;
      margin-bottom: 1rem;
    }
  }
  
  /* Intro */
 /* Intro Section */
 #intro {
    background-color: #F5F5F5;
    padding: 50px 0;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  
  .profile img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    object-position: center -10%;
  }
  
  .content {
    margin-left: 50px;
    max-width: 800px;
  }
  
  .headline {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .tagline {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 40px;
  }
  
  .bio {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  


  /* SKILLS */
  /* Skills Section */
  #skills {
    background-color: #f2f2f2;
    padding: 40px;
    }
    
    #skills h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    }
    
    .skill-category {
    margin-bottom: 40px;
    }
    
    .skill-category__heading {
    font-size: 24px;
    margin-bottom: 10px;
    }
    
    .skill-category__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
    .skill-item {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .skill-item i {
    font-size: 40px;
    margin-right: 10px;
    }
    
    .skill-item .skill-name {
    font-size: 20px;
    }
    
    .skill-level {
    background-color: rgba(0, 0, 0, 0.2);
    height: 10px;
    margin-right: 5px;
    border-radius: 3px;
    }
    
    .skill-level--beginner {
    width: 20%;
    background-color: #ff4c4c;
    }
    
    .skill-level--intermediate {
    width: 40%;
    background-color: #ffad33;
    }
    
    .skill-level--advanced {
    width: 60%;
    background-color: #5cb85c;
    }
    
    .skill-level--expert {
    width: 80%;
    background-color: #007bff;
    }

  /* Education Section */

  
#education {
    background-color: #f2f2f2;
    padding: 40px;
  }



    
  .education-block {
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    overflow: hidden;
    padding: 10px;
  }
  
  #education h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  

  
  .education-logo {
    width: 80px;
    height: auto;
    margin-right: 20px;
  }
  
  .education-item-content {
    flex-grow: 1;
  }
  
  .education-item h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  
  .education-item h3 i {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .education-item-school {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .education-item-date {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .education-item-achievements {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
    font-size: 16px;
  }
  
  .education-item-achievements li {
    margin-bottom: 10px;
  }
  
  .education-other {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
    font-size: 16px;
  }
  
  .education-other li {
    margin-bottom: 10px;
  }
  
  /* Experience */
  
  #experience {
    background-color: #f2f2f2;
    padding: 40px;
    }
    
    #experience h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    }
  #experience {
    margin-top: 50px;
  }
  
  .job {
    margin-bottom: 50px;
  }
  
  .job h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .job h4 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .job ul {
    margin-top: 10px;
  }
  
  .job li {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 1.4;
    list-style: none;
  }
  
  .job p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  
  .job i {
    margin-right: 10px;
  }
  
  .job .date {
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .job:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .job:nth-child(even) {
    background-color: #e6e6e6;
  }
  
  .job:last-child {
    margin-bottom: 0;
  }
  

  #project {
    background-color: #f4f4f4;
    padding: 50px 0;
  }
  
  #project h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  #project ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #project li {
    background-color: #fff;
    margin-right: 30px;
    padding: 30px;
    text-align: center;
    width: 500px;
    height: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow-y: auto;
  }
  
  #project li:last-child {
    margin-right: 0;
  }
  
  #project li:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  }
  
  #project h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  #project p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  #project p:first-of-type {
    font-weight: bold;
  }
  
  #project .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 2;
  }
  
  #project .carousel-btn:hover {
    transform: translateY(-50%) scale(1.1);
  }
  
  #project .carousel-btn-prev {
    left: 20px;
    border-radius: 50% 0 0 50%;
  }
  
  #project .carousel-btn-next {
    right: 20px;
    border-radius: 0 50% 50% 0;
  }
  
  #project .carousel-btn i {
    font-size: 1.5rem;
    color: #555;
  }

  .carousel-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px; /* adjust as needed */
    margin: 0 auto;
  }

  .arrow-icon {
    font-size: 40px;
    color: #333; /* adjust as needed */
    cursor: pointer;
  }

  .arrow-icon:first-child {
    margin-right: auto;
  }

  .arrow-icon:last-child {
    margin-left: auto;
  }

  
  #contact {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--light-gray);
    background-color: var(--dark-blue);
    padding: 2rem;
    text-align: center;
  }

  #contact h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  #contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #contact ul li {
    margin-bottom: 1rem;
  }

  #contact ul li i {
    margin-right: 10px;
    color: var(--blue);
  }

  #contact ul li a {
    color: var(--light-gray);
    text-decoration: none;
  }

  #contact ul li a:hover {
    color: var(--blue);
    text-decoration: underline;
  }
